<div class="container h-100 d-flex justify-content-center">
  <mat-card class="my-auto sizese">
    <mat-card-title class="cardTitle" >LOGIN</mat-card-title>
    <!-- <mat-card-title-group>Kindly login for furthur action</mat-card-title-group><br> --> <br>
    <mat-card-content>
      <form (submit)="SignIn(email.value,password.value)" class="signin-form">
        <div class="form-group">
                <input type="text" class="form-control" placeholder="Useremail" #email required>
        </div>
        <div class="form-group">
                <input id="password-field" type="password" class="form-control" #password placeholder="Password" required>
        </div>
        <div class="form-group text-center col-md-12">
                <button type="submit" class="form-control" mat-raised-button class="matButtonSignIn">Login</button>
        </div>
</form>
<hr>
<div class="form-group">
  <button mat-raised-button class="form-control matButtonGoogle" (click)="SignInWithGoogle()">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-google" viewBox="0 0 16 16">
          <path d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z"/>
        </svg>
        Google
  </button>
</div>
<div class="form-group">
  <button mat-raised-button class="form-control matButtonFacebook" (click)="SignInWithFacebook()">
      <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
        <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
      </svg>
         Facebook
  </button>
</div>

<div class="form-group">
  <button mat-raised-button class="form-control matButtonPhoneAuth" [routerLink]="'/phone-auth'">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-inbound-fill" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511zM15.854.146a.5.5 0 0 1 0 .708L11.707 5H14.5a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5v-4a.5.5 0 0 1 1 0v2.793L15.146.146a.5.5 0 0 1 .708 0z"/>
    </svg>
         Login using Phone Authentication
  </button>
</div>






<!-- <form>
  <mat-form-field>
    <input type="text" matInput [matAutocomplete]="auto" [(ngModel)]="searchCountrycode" />
    <mat-autocomplete #auto = "matAutocomplete">
      <mat-option *ngFor="let option of countryCode | filtercountrycode : searchCountrycode" [value]="option.code">
        {{option.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form> -->
    </mat-card-content>
    <mat-card-footer class="footer">
      <a [routerLink]="'/register'" >Click here for Register</a>
    </mat-card-footer>
  </mat-card>
</div>


