mat-card{
  width: 80%;
  height: auto;
}

.cardTitle{
  font-size: xx-large;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: bold;
}

.matButton {
  width: 100%;
  background-color: #002b5c;
  color: white;
}

.form-control{
  border-color: #004a9f;
}
.form-control:hover{
  border-color: #004a9f;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #004a9f;
}

.form-control:focus{
  border-color: #004a9f;
  box-shadow: 0 0 0 0.2rem #002b5c;
}

.cardFootermatButton{
  color: #002b5c;
}

.footer{
  float: right;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

a:hover{
  text-decoration: #002b5c;
}
