<mat-toolbar class="mat-elevation-z8">
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened">
          menu
      </mat-icon>
      <mat-icon *ngIf="sidenav.opened">
          close
      </mat-icon>
  </button>
  NewsUpdate
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">

      <!-- <img class="avatar mat-elevation-z8" src="{{userDp}}" />

      <h4 class="name">Maari</h4> -->
 <app-profile></app-profile>
      <mat-divider></mat-divider>
      <button mat-button class="menu-button" [routerLink]="'home'">
        <mat-icon>dashboard</mat-icon>
        <span>Dashboard</span>
    </button>
      <!-- <button mat-button class="menu-button" [routerLink]="'profile'">
          <mat-icon>person</mat-icon>
          <span>Profile</span>
      </button> -->
      <button mat-button class="menu-button" [routerLink]="'bookmark'">
          <mat-icon>bookmark</mat-icon>
          <span>Bookmark</span>
      </button>
      <!-- <button mat-button class="menu-button" [routerLink]="'covid-19'">
          <mat-icon>coronavirus</mat-icon>
          <span>CovidUpdate</span>
      </button> -->

    <!-- <button mat-button class="menu-button" [routerLink]="'settings'">
      <mat-icon>settings_suggest</mat-icon>
      <span>Settings</span>
  </button> -->
  <!-- <button *ngIf="user == 'Signout'" mat-button class="menu-button" (click)="logout()" >
    <mat-icon>logout</mat-icon>
    <span>{{user | titlecase}}</span>
  </button>
  <button *ngIf="user == 'Login/Register'" mat-button class="menu-button" (click)="logout()" >
    <mat-icon>login</mat-icon>
    <span>{{user | titlecase}}</span>
  </button> -->
  <app-signout></app-signout>

      <mat-divider></mat-divider>
      <!-- <button mat-button class="menu-button" [routerLink]="'aboutus'">
        <mat-icon>contact_mail</mat-icon>
        <span>Aboutus</span>
    </button> -->
  </mat-sidenav>
  <mat-sidenav-content>

         <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
