
/* .example-card {
 max-height: 200px;
  margin: 16px;
 align-items: center;
} */
.example-card{
  cursor: pointer;
}

.bookmark{
  float: right;
}



/* .content{
  padding: 16px;
} */

.matButton {
  width: 100%;
  background-color: #002b5c;
  color: white;
}
